<div class="story">
<h1>Story: The Berlin Clock</h1>
<div class="path">file:/Users/burakyuce/dev/checkout-foreks/opsit-berlin-clock-e37938e0c5f3/bin/stories/berlin-clock.story</div>
<div class="meta">
<div class="keyword">Meta:</div>
<div class="property">@scope interview</div>
</div>
<div class="scenario">
<h2>Scenario: Midnight</h2>
<div class="step successful">When the time is <span class="step parameter">00:00:00</span></div>
<div class="step successful">Then the clock should look like<br/>Y<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Middle of the afternoon</h2>
<div class="step successful">When the time is <span class="step parameter">13:17:01</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>RROO<br/>RRRO<br/>YYROOOOOOOO<br/>YYOO</div>
</div>
<div class="scenario">
<h2>Scenario: Just before midnight</h2>
<div class="step successful">When the time is <span class="step parameter">23:59:59</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>RRRR<br/>RRRO<br/>YYRYYRYYRYY<br/>YYYY</div>
</div>
<div class="scenario">
<h2>Scenario: Midnight</h2>
<div class="step successful">When the time is <span class="step parameter">24:00:00</span></div>
<div class="step successful">Then the clock should look like<br/>Y<br/>RRRR<br/>RRRR<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
</div>
